pandas
numpy<2.0
torch
torchvision
ipykernel
openai
transformers
sentence-transformers
Pillow
tqdm
kagglehub
ddgs
matplotlib
fastdownload
gdown
easyocr
pdf2image
langchain-chroma
langchain-huggingface
langchain-google-genai
beautifulsoup4
google-genai
google-api-core
pydantic
streamlit