pandas
numpy
torch
torchvision
ipykernel
openai
transformers
pillow
tqdm
kagglehub
ddgs
matplotlib
fastdownload
gdown
easyocr
pdf2image
langchain-chroma
langchain-huggingface
beautifulsoup4
google-genai